name: Deploy Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Existing tag to be released, e.g. v1.2.3, v2.2.2, v3.0.0'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    name: Deploy release
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2.0.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Get Secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v1
        with:
          secret-ids: |
            DEVOPS_GITHUB_TOKEN,CN/DEVOPS_GITHUB_TOKEN

      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ env.DEVOPS_GITHUB_TOKEN }}

      - name: Update version and create a new tag
        run: |
          TAG="${{ github.event.inputs.tag }}"
          mvn versions:set -DnewVersion=${TAG:1}
            if [[ -n $(git status -s) ]]; then
              git add pom.xml
              git commit -m "Updated version to '${TAG:1}'"
              git push -u origin master
              git tag ${TAG}
              git push origin ${TAG}
            fi
          echo "TAG=${TAG}" >> $GITHUB_ENV
          echo "VERSION=${TAG:1}" >> $GITHUB_ENV

      - uses: actions/checkout@v3
        with:
          ref: "${{ env.TAG }}"

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'
          server-id: release-repository
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Deploy release
        run: mvn deploy -Prelease --batch-mode -DskipTests -DretryFailedDeploymentCount=3
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_OSS_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.SONATYPE_OSS_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

      - name: Create GitHub Release
        id: release-notes
        uses: softprops/action-gh-release@v1
        with:
          append_body: true
          files: '**/target/hazelcast-eureka-two-${{ env.VERSION }}*.jar'
          name: "${{ env.VERSION }}"
          tag_name: "${{ env.TAG }}"

      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ env.DEVOPS_GITHUB_TOKEN }}

      - name: Update version to Snapshot
        if: steps.release-notes.outcome == 'success'
        run: |
          IFS='.' read -r major minor patch <<< "${{ env.TAG }}"
          patch=$((patch + 1))
          SNAPSHOT_VERSION="$major.$minor.$patch-SNAPSHOT"
          mvn versions:set -DnewVersion=$SNAPSHOT_VERSION
          git add pom.xml
          git commit -m "Updated version to '$SNAPSHOT_VERSION'"
          git push -u origin master
